<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="usuario.nombreUsuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="usuario.email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.contrasena" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="block" color="primary" (click)="guardarCambios()">Guardar Cambios</ion-button>
  </ion-footer>
</ion-content>
