<ion-content class="bg-primary">
  <!-- Sección de Perfil -->
  <div class="profile-section">
    <ion-avatar class="profile-avatar">
      <img alt="Silhouette of a person's head" src="https://as01.epimg.net/img/comunes/fotos/fichas/deportistas/j/jos/large/19294.png" />
    </ion-avatar>
    <div class="profile-info">
      <h2>Pablo Menéndez</h2>
      <p>&#64;pablomn02</p>
    </div>
  </div>

  <!-- Opciones de cuenta -->
  <ion-list>

    <h5>AJUSTES DE CUENTA</h5>

    <ion-item class="linea-separadora"></ion-item>
  
    <ion-item button>
      <ion-icon slot="start" name="person" size="large"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="lock-closed" size="large"></ion-icon>
      <ion-label>Cambiar contraseña</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="notifications" size="large"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item button lines="full">
      <ion-icon slot="start" name="log-out" size="large"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-list>
  
  <p id="version">Versión 1.0</p>

</ion-content>