<ion-content [fullscreen]="true" id="main-content">
  <div class="section-title">
    <h2>Favoritos</h2>
  </div>

  <div class="favorites-container" *ngIf="favorites.length > 0; else noFavoritos">
    <ion-list class="favorites-list" lines="none">
      <ion-item class="favorite-item" *ngFor="let favorite of favorites">
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>{{ favorite.nombre }}</h3>
          <p>{{ favorite.especialidad }}</p>
        </ion-label>
        <ion-button slot="end" class="btn-contratar" (click)="contratar(favorite)">
          Contratar
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noFavoritos>
    <div class="no-favorites-msg">
      <p>No tienes profesionales marcados como favoritos aún.</p>
    </div>
  </ng-template>
</ion-content>
