<ion-content [fullscreen]="true">
  <div class="section-title">
    <h2>{{ categoriaNombre || 'Esta categoría' }}</h2>
  </div>
  <ion-list class="services-list">
    <ion-item class="service-item" *ngFor="let servicio of servicios" lines="none" (click)="goToServicio(servicio.id)">
      <div class="service-bubble" slot="start" [ngStyle]="{'background-color': getColor(categoriaNombre)}" >
        <ion-icon [name]="getIcon(categoriaNombre)"></ion-icon>
      </div>
      <ion-label class="service-name">{{ servicio.nombre }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navCtrl.back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>