<ion-content [fullscreen]="true">
  <div class="section-title">
    <h2>{{ categoriaNombre || 'esta categoría' }}</h2>
  </div>
  <div class="services-container">
    <div class="services-grid">
      <div class="service-item" *ngFor="let servicio of servicios">
        <div class="service-bubble" [ngStyle]="{'background-color': getColor(categoriaNombre)}" >
          <ion-icon [name]="getIcon(categoriaNombre)" (click)="goToServicio(servicio.id)"></ion-icon>
        </div>
        <span class="service-name">{{ servicio.nombre }}</span>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navCtrl.back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
