<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-toolbar color="primary">
      <ion-title id="titulo">FIXER</ion-title>
    </ion-toolbar>
    <ion-searchbar 
      placeholder="Buscar" 
      (ionInput)="searchBar($event)" 
      class="rounded-searchbar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="direccion">
    <ion-icon name="navigate" size="large"></ion-icon>
    <p>Calle de Numancia, 14</p>
  </div>
  <ion-list lines="none" class="button-container">
    <ion-item *ngFor="let palabra of palabraBuscada">
      <ion-button>
        <p>{{ palabra }}</p>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
