<ion-content [fullscreen]="true" id="main-content">
  <div class="section-title">
    <h2>Favoritos</h2>
  </div>

  <div class="favorites-container">
    <ion-list class="favorites-list">
      <ion-item class="favorite-item" *ngFor="let favorite of favorites">
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>{{ favorite.name }}</h3>
          <p>{{ favorite.role }}</p>
        </ion-label>
        <ion-button slot="end" color="primary" (click)="contratar(favorite)">
          Contratar de Nuevo
        </ion-button>
      </ion-item>
    </ion-list>

    <div class="add-favorite-button">
      <ion-button expand="block" color="primary" (click)="addFavorite()">
        Agregar cuentas favoritas
      </ion-button>
    </div>
  </div>
</ion-content>