<ion-content id="main-content">
  <div class="section-title">
    <h2>Mis contrataciones</h2>
  </div>
  <ion-accordion-group>
    <ion-accordion value="usuarios">
      <ion-item slot="header">
        <ion-label>Todos los Usuarios ({{ listaUsuarios.length }})</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let usuario of listaUsuarios">
          <ion-label>{{ usuario.nombre }}</ion-label>
          <ion-button slot="end" color="warning" size="small" (click)="editarUsuario(usuario)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="danger" size="small" (click)="deleteUsuario(usuario)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="clientes">
      <ion-item slot="header">
        <ion-label>Clientes ({{ listaClientes.length }})</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let cliente of listaClientes">
          <ion-label>{{ cliente.nombre }}</ion-label>
          <ion-button slot="end" color="warning" size="small" (click)="editarUsuario(cliente)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="danger" size="small" (click)="deleteUsuario(cliente)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="profesionales">
      <ion-item slot="header">
        <ion-label>Profesionales ({{ listaProfesionales.length }})</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let profesional of listaProfesionales">
          <ion-label>{{ profesional.nombre }}</ion-label>
          <ion-button slot="end" color="warning" size="small" (click)="editarUsuario(profesional)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="danger" size="small" (click)="deleteUsuario(profesional)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>